<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--布尔型-->
    <add key="Bool" value="True"/>
    <!--浮点型-->
    <add key="Float" value="1.0"/>
    <!--整型-->
    <add key="Int" value="1"/>
    <!--字符串-->
    <add key="String" value="test"/>
  </appSettings>
</configuration>