<?xml version="1.0" encoding="utf-8" ?>
<!--本配置文件禁止删除！-->
<configuration>
  <appSettings>
    <!--以下为默认设置，程序中可灵活调用-->
    <!--日志默认文件夹-->
    <add key="directory" value="Log"/>

    <!--以下为配置设置，程序中调用以当前为准-->
    <!--日志文件名日期文本格式-->
    <add key="format" value="yyyy-MM-dd"/>
    <!--日志文件后缀-->
    <add key="postfix" value="txt"/>
    <!--日志级别 ALL,DEBUG,INFO,WARN,ERROR,FATAL,None-->
    <!--分别对应 0-6 -->
    <add key="level" value="0"/>

    <!--日志队列长度-->
    <add key="queue" value="1000"/>
  </appSettings>
</configuration>